.App {
    text-align: center;
}

img {
    height: 100px;
    width: 100px;
    margin: 5px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center
}

.card {
    height: 250px;
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.margin {
    margin: 10px;
}

.box {
    border: 2px solid;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
}

.d-flex {
    display: flex;
}
.j-center{
    justify-content: center;
}

.a-center{
    align-items: center;
}

.column {
    flex-direction: column;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-100{
    margin-top: 100px;
}

.ml-15{
    margin-left: 15px;
}

.mr-15{
    margin-right: 15px;
}
.wrap{
    flex-wrap: wrap;
}

.space-b{
    justify-content: space-around;
}

.bg-color{
    background-color: #a1d9ff;
}